.title{
    text-align: center ;
}

.meo-form, .loading{
    width: 70%;
    margin: 0 auto;
}

.loading {
    text-align: center;
}

.meos {
    margin: 0 auto;
    width: 80%;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-child1 {
    margin: 10;
    width: 60%;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
}

.flex-child2 {
    margin: 10;
    width: 60%;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
}